<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script><%= assetsRetry %></script>
    <script>
      window.assetsRetryStatistics = window.assetsRetry({ domain: ['a.cdn', 'b.cdn'] })
    </script>
    <title></title>
  </head>
  <body>
  </body>
</html>
