html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    border: #ffdddd 2px solid;
    border-style: solid;
}

#cssAsync {
    background-image: url('/e2e/not-exist/images/background-image-async.png');
    background-size: contain;
    background-repeat: no-repeat;
}
