html,
body,
div,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background: #ffdddd;
  background-repeat: no-repeat;
}

pre {
  font-size: 20px;
}

#cssSync {
  background-image: url('/e2e/not-exist/images/background-image-sync.png');
  background-size: contain;
  background-repeat: no-repeat;
}
